.typing-indicator1 {
    display: flex;
    align-items: center;
  }
  
  .typing-indicator1 span {
    display: inline-block;
    color: red;
    background-color: #ccc;
    width: 10px;
    height: 16px;
    border-radius: 50%;
    margin: 0 4px;
    animation: typing 1s infinite;
  }
  
  @keyframes typing {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
  